meta {
    -theme-display-name: "Horizon";
    -theme-interface-style: dark;
    -theme-vibrancy: none;
    -theme-accent-color: auto;
}

/* Window Styles */

meta.window {
    background-color: #1C1E26;
    border-color: #2E303E;
}

meta.titlebar {
    color: rgba(187, 187, 187, 0.8);
    border-color: #2E303E;
}

meta.button {
    background: #232530;
    border: #2E303E;
    color: #FFF;
}

meta.button.highlighted {
    background: #6C6F93;
    color: #FFF;
}

meta.button.selected,
meta.button.highlighted.selected {
    color: #FFF;
}

meta.textfield {
    background-color: #1C1E26;
    border-color: #2E303E;
}

meta.textfield.highlighted {
    background-color: #2E303E;
    border-color: #2E303E;
}

/* Document styles */
meta.document {
    background-color: #1C1E26;
    border-color: #2E303E;
}

meta.document.button {
    background-color: #232530;
    border-color: #2E303E;
}

meta.document.button.disabled {
    background: linear-gradient(hsla(220, 5%, 25%, 0.3), hsla(220, 5%, 21%, 0.3));
}

meta.document.button.highlighted {
    background: linear-gradient(hsl(210, 5%, 34%), hsl(210, 5%, 30%));
}

meta.document.textfield {
    background-color: #1C1E26;
    border-color: #2E303E;
}

meta.document.textfield.highlighted {
    background-color: #2E303E;
    border-color: #2E303E;
}

/* Text */
meta.text {
    color: #D5D8DA;
}
meta.text.invisible {
    color: rgba(204, 230, 255, 0.12);
}
meta.text.selected {
}

/* Cursor */
meta.cursor {
    background-color: rgba(108, 111, 147, 0.3);
}

/* Indentation Guides */
meta.indentguide {
    border-color: #6c6f93;
}

/* Gutter */
meta.gutter {
    color: rgba(213, 216, 218, 0.2);
}
meta.gutter.selected {
    background-color: rgba(108, 111, 147, 0.5);
    color: rgba(213, 216, 218, 0.5);
}


/* Syntax styles */


keyword {
    color: rgba(184, 119, 219, 0.9);
}

comment {
    font-style: italic;
    color: rgba(187, 187, 187, 0.3);
}

processing {
    color: rgba(108, 110, 146, 0.75);
}

declaration {
    color: rgba(233, 86, 120, 0.6);
}

bracket,
operator {
    color: #BBB;
}

invalid {
    background-color: rgba(233, 86, 120, 0.6);
    color: hsl(60, 33%, 96%);
}

/* Values */
value.boolean,
value.number,
value.null,
value.symbol,
value.entity {
    color: rgba(240, 148, 131, 0.9);
}

/* Identifiers */
identifier.type,
identifier.constant {
    color: rgba(250, 194, 154, 0.9);
}

identifier.global, identifier.variable {
    color: rgba(233, 86, 120, 0.9);
}

identifier.property,
identifier.decorator,
identifier.function,
identifier.method {
    color: rgba(37, 176, 188, 0.9);
}

identifier.key {
    color: rgba(184, 119, 219, 0.9);
}

identifier.argument {
    font-style: italic;
    color: rgba(233, 86, 120, 0.9);
}

/* Strings */
string {
    color: rgba(250, 183, 149, 0.9);
}

string.key {
    color: rgba(233, 86, 120, 0.9);
}

string-template {
    color: rgba(184, 119, 219, 0.9);
}

string-template.value {
    color: hsl(27, 100%, 64%);
}

regex {
    color: rgba(240, 148, 131, 0.9);
}

regex.escaped {
    color: rgba(37, 176, 188, 0.9);
}

cdata {
    color: #BBB;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
    font-weight: bold;
    color: rgba(184, 119, 219, 0.9);
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
    color: #BBB;
}

/* Tags */
tag {
    color: rgba(233, 86, 120, 0.9);
}

tag.framework {
    color: rgba(184, 119, 219, 0.9);
}

tag.attribute.equals-sign {
    color: #BBB;
}

tag.attribute.name {
    color: rgba(240, 148, 131, 0.9);
}

tag.attribute.value {
    color: rgba(250, 183, 149, 0.9);
}

tag.attribute.value.link {
    text-decoration: underline;
    color: rgba(250, 183, 149, 0.9);
}

/* Styles */
style.at {
    color: rgba(184, 119, 219, 0.9);
}

style.selector.element {
    color: rgba(233, 86, 120, 0.9);
}

style.selector.identifier.id {
    color: rgba(37, 176, 188, 0.9);
}

style.selector.identifier.class {
    color: rgba(240, 148, 131, 0.9);
}

style.selector.pseudoelement,
style.selector.pseudoclass {
    color: rgba(250, 183, 149, 0.9);
}

style.string.single-quoted {
    color: rgba(250, 183, 149, 0.9);
}

style.attribute.name {
    color: #BBB;
}

style.value.number,
style.value.color.hex {
    color: rgba(240, 148, 131, 0.9);
}

style.value.keyword,
style.value.color.named {
    color: rgba(250, 194, 154, 0.9);
}

style.value.keyword.important {
    color: rgba(184, 119, 219, 0.9);
}


/* Built-In Language Styles */


/* CoffeeScript */
coffeescript.operator.function {
    color: rgba(184, 119, 219, 0.9);
}

/* CSS */
css.style.selector.global.operator,
css.style.media-feature.keyword {
    color: rgba(233, 86, 120, 0.9);
}

css.style.media-query-list.keyword.media-type {
    color: rgba(250, 194, 154, 0.9);
}

css.style.selector.operator {
    color: #BBB;
}

/* Diff */
diff.change.add {
    background-color: rgba(9, 247, 160, 0.1);
    color: #27D796;
}

diff.change.delete {
    background-color: rgba(244, 62, 92, 0.1);
    color: #E95379;
}

diff.processing.location {
    color: rgba(184, 119, 219, 0.9); 
}

/* Haml */
haml.element {
    color: rgba(240, 148, 131, 0.9);
}

haml.element.tag {
    color: rgba(233, 86, 120, 0.9);
}

/* INI */
ini.section {
    color: rgba(233, 86, 120, 0.9);
}

/* Markdown */
markdown.markup.heading {
    color: rgba(233, 86, 120, 0.9);
}

markdown.markup.block.quote {
    color: rgba(250, 183, 149, 0.7);
}

markdown.image.markup.link {
    color: rgba(240, 148, 131, 0.9);
}

markdown.image.string,
markdown.markup.reference {
    color: rgba(250, 183, 149, 0.9);
}

markdown.markup.list.item.ordered,
markdown.markup.list.item.unordered,
markdown.link.identifier.name.key,
markdown.markup.inline.code,
markdown.markup.block.code.langauge,
markdown.markup.bracket {
    color: rgba(240, 148, 131, 0.9);
}

markdown.markup.bold {
    font-weight: bold;
    color: rgba(184, 119, 219, 0.9);
}

markdown.markup.italic.underscore {
    font-style: italic;
    color: rgba(37, 176, 188, 0.9);
}

/* JS */
javascript.keyword,
javascript.key-expression {
    color: rgba(184, 119, 219, 0.9);
}

javascript.key.string,
javascript.identifier.core.global {
    color: rgba(250, 183, 149, 0.9);
}

javascript.definition.variable,
javascript.arguments,
javascript.identifier,
javascript.key.name,
javascript.collection.array {
    color: rgba(233, 86, 120, 0.9);
}

javascript.identifier.method,
javascript.string-literal.inline-expression,
javascript.string.regex.escape,
javascript.identifier.function,
javascript.string.backtick-quoted.escape,
javascript.string.single-quoted.escape {
    color: rgba(37, 176, 188, 0.9);
}

javascript.keyword.self {
    font-style: italic;
    color: rgba(250, 194, 154, 0.9);
}

javascript.identifier.type.class.name,
javascript.identifier.type.class.superclass {
    color: rgba(250, 194, 154, 0.9);
}

javascript.string.regex.delimiter {
    color: rgba(184, 119, 219, 0.9);
}

javascript.colon,
javascript.comma,
javascript.semicolon {
    color: #BBB;
}

/* JSON */
json.comma {
    color: #BBB;
}

/* JSX */
jsx.value.variable.bracket {
    color: rgba(184, 119, 219, 0.9);
}

jsx.tag.open.name.framework,
jsx.tag.close.name.framework {
    color: rgba(250, 194, 154, 0.9);
}

jsx.tag.framework.open,
jsx.tag.framework.close {
    color: rgba(233, 86, 120, 0.7);
}

jsx.tag.framework.attribute.operator {
    color: #BBB;
}

/* Lua */
lua.identifier.property {
    color: rgba(233, 86, 120, 0.9);
}

/* Perl */
perl.identifier {
    color: rgba(233, 86, 120, 0.9);
}

perl.identifier.function,
perl.keyword.function {
    color: rgba(37, 186, 188, 0.9);
}

/* PHP */
php.keyword.statement,
php.definition.identifier.method.name,
php.string.escape,
php.identifier.function {
    color: rgba(37, 176, 188, 0.9);
}

php.definition.class,
php.class.extends,
php.sql.string-keyword {
    color: rgba(184, 119, 219, 0.9);
}

php.identifier.name,
php.identifier.property,
php.string.double-quoted.string-template.variable {
    color: rgba(233, 86, 120, 0.9);
}

php.identifier.type.class.name,
php.type.identifier.name {
    color: rgba(250, 194, 154, 0.9);
}

php.keyword.self {
    font-style: italic;
    color: rgba(250, 194, 154, 0.9);
}

php.semicolon {
    color: #BBB;
}

/* Python */
python.keyword.self {
    font-style: italic;
    color: rgba(250, 194, 154, 0.9);
}

python.arguments {
    font-style: italic;
    color: rgba(233, 86, 120, 0.9);
}

python.separator {
    color: #BBB;
}

/* Ruby */
ruby.identifier.args {
    font-style: italic;
    color: rgba(233, 86, 120, 0.9);
}

ruby.identifier.module {
    color: rgba(250, 194, 154, 0.9);
}

ruby.identifier.type {
    color: rgba(233, 86, 120, 0.9);
}

/* SCSS */
scss.style.value.keyword.default {
    color: rgba(184, 119, 219, 0.9);
}

scss.style.operator {
    color: rgba(240, 148, 131, 0.9);
}

scss.style.selector.operator {
    color: rgba(187, 187, 187, 0.8);
}

/* Shell Script */
shell.string-template {
    color: rgba(233, 86, 120, 0.9);
}

shell.keyword.builtin-command {
    color: rgba(37, 176, 188, 0.9);
}

shell.operator.argument {
    color: rgba(184, 119, 219, 0.9);
}

/* SQL */
sql.identifier {
    color: rgba(240, 148, 131, 0.9);
}

/* TSX */
tsx.tag.open,
tsx.tag.close {
    color: rgba(233, 86, 120, 0.7);
    
}

tsx.tag.open.name,
tsx.tag.close.name,
tsx.value.variable {
    color: rgba(233, 86, 120, 0.9);
}

tsx.tag.open.name.framework,
tsx.tag.close.name.framework {
    color: rgba(250, 194, 154, 0.9);
}

tsx.tag.framework.attribute.operator {
    color: #BBB;
}

tsx.value.variable.bracket {
    color: rgba(184, 119, 219, 0.9);
}

/* Typescript */
typescript.identifier,
typescript.identifier.key.name,
typescript.identifier.property.name,
typescript.identifier.name,
typescript.identifier.property,
typescript.identifier.constant.name {
    color: rgba(233, 86, 120, 0.9);
}

typescript.identifier.method,
typescript.identifier.function,
typescript.string.backtick-quoted.escape,
typescript.keyword.condition {
    color: rgba(37, 176, 188, 0.9);
}

typescript.argument.types,
typescript.identifier.type,
typescript.identifier.type.interface.name,
typescript.identifier.type.core,
typescript.identifier.core.global,
typescript.identifier.constant {
    color: rgba(250, 194, 154, 0.9);
}

typescript.string.regex.delimiter {
    color: rgba(184, 119, 219, 0.9);
}

typescript.keyword.self {
    font-style: italic;
    color: rgba(250, 194, 154, 0.9);
}

typescript.comma,
typescript.semicolon {
    color: #BBB;
}

/* YAML */
yaml.string.unquoted {
    color: #BBB;
}

yaml.operator.literal {
    color: rgba(37, 176, 188, 0.9);
}


/* Terminal styles */


terminal.black {
    color: #1C1E26;
}

terminal.blue {
    color: #26BBD9;
}

terminal.cyan {
    color: #59E1E3;
}

terminal.green {
    color: #29D398;
}

terminal.magenta {
    color: #EE64AC;
}

terminal.red {
    color: #E95678;
}

terminal.yellow {
    color: #FAB795;
}

terminal.white {
    color: #FADAD1;
}

terminal.bright-black {
    color: #232530;
}

terminal.bright-blue {
    color: #3FC4DE;
}

terminal.bright-cyan {
    color: #6BE4E6;
}

terminal.bright-green {
    color: #3FDAA4;
}

terminal.bright-magenta {
    color: #F075B5;
}

terminal.bright-red {
    color: #EC6A88;
}

terminal.bright-yellow {
    color: #FBC3A7;
}

terminal.bright-white {
    color: #FDF0ED;
}


/* Language Extension Styles */


/* C# */
source.cs.keyword.modifier,
source.cs.keyword.other,
source.cs.variable.other {
    color: rgba(184, 119, 219, 0.9);
}

source.cs.identifier.type,
source.cs.keyword.type {
    color: rgba(250, 194, 154, 0.9);
}

source.cs.keyword.operator {
    color: #BBB;
}

source.cs.entity.name.variable,
source.cs.entity.name.identifier.argument {
    color: rgba(233, 86, 120, 0.9);
}

/* Go */
go.identifier,
go.punctuation.delimiter.period {
    color: #BBB;
}

go.identifier.type.core {
    color: rgba(233, 86, 120, 0.9);
}

go.identifier.type.class,
go.arguments {
    color: rgba(184, 119, 219, 0.9);
}

go.identifier.method,
go.identifier.function,
go.definition.function.name,
go.string.double-quoted.escape {
    color: rgba(37, 176, 188, 0.9);
}