meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: auto;
}

terminal.red {
  color: #E95678;
}

terminal.green {
  color: #29D398;
}

terminal.yellow {
  color: #FAB795;
}

terminal.blue {
  color: #26BBD9;
}

terminal.magenta {
  color: #EE64AC;
}

terminal.cyan {
  color: #59E1E3;
}
