@import "../sass/variables/colors";

meta {
	-theme-interface-style: dark;
	-theme-vibrancy: none;
	-theme-accent-color: auto;
}

// terminal
terminal.red {
	color: $red;
}

terminal.green {
	color: $green;
}

terminal.yellow {
	color: $yellow;
}

terminal.blue {
	color: $blue;
}

terminal.magenta {
	color: $magenta;
}

terminal.cyan {
	color: $cyan;
}